# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/**/*.css
.cache/
public/
/ios/build/
/ios/Pods/
/ios/worker.thread.jsbundle
/ios/Planto.xcworkspace/xcshareddata
/codepush_build
/android/build/
/artifacts/

build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.iml
package-lock.json

android/app/keystorepw
android/app/my-release-key.keystore
android/app/planto-release-key.keystore
/android/local.properties
/android/.gradle/
android/app/src/main/gen/io/planto/app/BuildConfig.java
android/app/src/main/gen/io/planto/app/R.java
android/.idea/libraries/Gradle__android_arch_core_common_1_0_0_jar.xml
android/.idea/libraries/Gradle__android_arch_core_common_1_1_0_jar.xml
android/.idea/libraries/Gradle__android_arch_core_runtime_1_1_0.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_common_1_0_0_jar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_0_jar.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0.xml
android/.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0.xml
android/.idea/libraries/Gradle__com_afollestad_material_dialogs_commons_0_9_0_1.xml
android/.idea/libraries/Gradle__com_afollestad_material_dialogs_core_0_9_0_1.xml
android/.idea/libraries/Gradle__com_airbnb_android_lottie_2_5_6.xml
android/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_24_1_1.xml
android/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_appcompat_v7_24_1_1.xml
android/.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_multidex_1_0_3.xml
android/.idea/libraries/Gradle__com_android_support_recyclerview_v7_24_1_1.xml
android/.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_annotations_24_1_1_jar.xml
android/.idea/libraries/Gradle__com_android_support_support_annotations_26_1_0_jar.xml
android/.idea/libraries/Gradle__com_android_support_support_annotations_27_1_1_jar.xml
android/.idea/libraries/Gradle__com_android_support_support_compat_26_1_0.xml
android/.idea/libraries/Gradle__com_android_support_support_compat_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_core_ui_26_1_0.xml
android/.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_core_utils_26_1_0.xml
android/.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_fragment_26_1_0.xml
android/.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_media_compat_26_1_0.xml
android/.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_v4_24_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_v4_26_1_0.xml
android/.idea/libraries/Gradle__com_android_support_support_v4_27_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_vector_drawable_24_1_1.xml
android/.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1.xml
android/.idea/libraries/Gradle__com_cocosw_bottomsheet_1_3_1.xml
android/.idea/libraries/Gradle__com_facebook_conceal_conceal_1_1_3.xml
android/.idea/libraries/Gradle__com_facebook_fbui_textlayoutbuilder_staticlayout_proxy_1_0_jar.xml
android/.idea/libraries/Gradle__com_facebook_fbui_textlayoutbuilder_textlayoutbuilder_1_0_0.xml
android/.idea/libraries/Gradle__com_facebook_fresco_drawee_1_3_0.xml
android/.idea/libraries/Gradle__com_facebook_fresco_fbcore_1_3_0.xml
android/.idea/libraries/Gradle__com_facebook_fresco_fresco_1_3_0.xml
android/.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_1_3_0.xml
android/.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_base_1_3_0.xml
android/.idea/libraries/Gradle__com_facebook_fresco_imagepipeline_okhttp3_1_3_0.xml
android/.idea/libraries/Gradle__com_facebook_react_react_native_0_55_4.xml
android/.idea/libraries/Gradle__com_facebook_soloader_soloader_0_1_0.xml
android/.idea/libraries/Gradle__com_github_stephenc_jcip_jcip_annotations_1_0_1_jar.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_analytics_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_analytics_impl_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_analytics_impl_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_analytics_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_base_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_base_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_location_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_location_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_tagmanager_v4_impl_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_tagmanager_v4_impl_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_12_0_1.xml
android/.idea/libraries/Gradle__com_google_android_gms_play_services_tasks_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_impl_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_impl_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_analytics_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_common_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_common_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_core_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_iid_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_iid_license_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_messaging_12_0_1.xml
android/.idea/libraries/Gradle__com_google_firebase_firebase_messaging_license_12_0_1.xml
android/.idea/libraries/Gradle__com_nimbusds_nimbus_jose_jwt_5_1_jar.xml
android/.idea/libraries/Gradle__com_onesignal_OneSignal_3_9_1.xml
android/.idea/libraries/Gradle__com_parse_bolts_bolts_tasks_1_4_0_jar.xml
android/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_6_0_jar.xml
android/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_urlconnection_3_6_0_jar.xml
android/.idea/libraries/Gradle__com_squareup_okio_okio_1_13_0_jar.xml
android/.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
android/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
android/.idea/libraries/Gradle__me_zhanghai_android_materialprogressbar_library_1_1_7.xml
android/.idea/libraries/Gradle__net_minidev_accessors_smart_1_2_jar.xml
android/.idea/libraries/Gradle__net_minidev_json_smart_2_3_jar.xml
android/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
android/.idea/libraries/Gradle__org_ow2_asm_asm_5_0_4_jar.xml
android/.idea/
android/app/src/main/assets/threads
